@import url('https://fonts.googleapis.com/css2?family=Lato&family=Macondo&family=Radio+Canada&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;;
}

body {
    background-image: url(./Assets/subtle-prism.svg);

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border-radius: 10px;
    padding: 4px;
}

#startingMenu {
    align-self: center;

    display: flex;
    flex-direction: column;

    width: 350px;
    gap: 10px;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

#startingMenu p {
    font-size: 10px;
}

#menu {
    display: none;
    align-self: center;
    justify-content: center;

    width: 300px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#topGame {
    display: none;
    justify-content: space-around;

}

#topGame h2 {
    background-color: aliceblue;

    border: 1px black solid;
    border-radius: 5px;
    padding: 5px
}

#game {
    margin-top: 25px;
    align-self: center;
    justify-content: center;

    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(3,1fr);
    background-color: aliceblue;
}

.gameBox {
    width: 100px;
    height: 100px;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

#bottomMenu {
    display: none;

    align-items: center;
    justify-content: center;
    margin-top: 25px;
}